.button {
    /*-fx-font-weight: bold;*/
}
.root{
}
.remove {
    -fx-background-radius: 30;
    -fx-text-fill: red;
    -fx-font-weight: bolder
}
.help {
   -fx-border-color: black;
   -fx-border-width: 1px;
   -fx-border-style: dotted
}